/* text and color styling */

body {
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(228, 45%, 44%);
}

/* CSS Grid layout */

/* Default CSS Styles that were provided */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
